.index {
  flex-direction: column;
  width: 100%;
}

.indexInput {
  float: left;
  height: 70px;
  width: 50%;
  margin: 0px 20px;
  padding: 0px 30px;
  color: green;
  border: 1px green solid;
  border-radius: 20px;
}

.listText{
  margin:20px 20px;
  padding:5px 20px;
  height:70px;
  line-height: 70px;
  border-radius: 20px;
  background-color: #BDD5E9 ;
  border:1px #BDD5E9 solid
}

.listbutton {
  float: right;
  width: 120px;
  height: 50px;
  margin: 10px 30px;
  background-color: pink;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

